body{
    height: 700px;
    width: 700px;
    border-style: solid;
    border-color: blue;
}

#menu {
    display: flex;
    list-style: none;
    font-size: small;
}

#menuini {
    display: flex;
    padding-left: 200px;
 
}